<div class="row">
  <div class="col-sm-3">
    <div class="card text-white bg-primary">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-success">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-danger">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-info">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-8">
    <div class="card border-success" style="min-height:320px;">
      <div class="card-body text-success">
        <h4 class="card-title">Primary card title</h4>
        <p-chart type="bar" [data]="data"></p-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-success" style="min-height:320px;">
      <div class="card-body text-success">
        <h4 class="card-title">Primary card title</h4>
        <p-chart type="pie" [data]="dataPie"></p-chart>
      </div>
    </div>
  </div>
</div>
<br>